.main{
    padding: 110px;
    padding-right: 0px;
    padding-left: 0px;
}

@media (max-width: 1280px) .first-section {
    height: 600px;
}

.first-section {
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.no-padding {
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.first-section .text-container {
    position: relative;
    z-index: 2;
}
.first-section .container-fluid.bg {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2));
    position: relative;
}
.first-section .page__headline {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 35%);
}

@media (max-width: 1280px)
.page__headline {
    font-size: 42px;
}

.page__headline {
    margin-bottom: 0;
    font-size: 62px;
    font-weight: 800;
}

@media (max-width: 1280px)
.first-section .description {
    font-size: 30px;
}
.first-section .btn-basic {
    margin-top: 27px;
}
.btn-basic {
    width: 100%;
    max-width: 245px;
    padding: 24px 5px 26px;
    padding-top: 24px;
    padding-right: 5px;
    padding-bottom: 26px;
    padding-left: 5px;
    line-height: 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(51, 0, 153);
    border-radius: 3px;
    transition: background-color .3s;
}
button {
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.first-section .description {
    font-size: 46px;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 35%);
}

.info-price_section {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.info-price_section .container-fluid {
    padding-right: 0;
}
.container-fluid {
    padding: 0 30px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
}
.info-price_row {
    font-size: 0;
    color: #515151;
    display: flex;
}
.info-price_col {}

.info_col {
    align-self: center;
    width: calc(100% - 350px);
}
.info-price_item {
    font-size: 20px;
    padding: 5px 36px 5px 0;
    display: inline-block;
}

@media (max-width: 1280px)
.price-col {
    font-size: 16px;
}

.price-col {
    width: 350px;
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    background-color: rgb(240, 200, 160);
}