.dostoprimechatelnost{
    height: 350px;
    max-width: 500px;
}
.program-container {
  position: relative;
  text-align: center;
  color: white;
}
.program-container span {
    position: absolute;
    top: 50%;
    left: 20%;
    font-weight: bold;
    font-size: 22px;
    -webkit-text-stroke: 1px black;
    display: none;
}

.program-container:hover span{
    display: inline;
}
#program-table table{
    max-width: 100px;
    border-collapse: collapse;
    border-spacing: 0;
}
.shareImpressions{
    height: 70px;
}