* {
    box-sizing: border-box;
}

.program_row {
  display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
 .d {
       width: 50%;
     display: flex;
    }

/* Create four equal columns that sits next to each other */

.program_column {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 0px;
}

.program_row img {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 600px;
}

.program_row div {
    height: 600px;
    justify-content: center;
    align-items: center;
}

.d p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.program_row p::first-line {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
}


/* slider*/
.mySlides, .mySlides1, .mySlides2, .mySlides3 {
 display: none;
 width: 100%;}


/* Slideshow container */
.slideshow-container {
  position: relative;
    width: 50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot, .dot11, .dot12, .dot13 {
  cursor: pointer;
  height: 15px;
  position: absolute;
  top:90%;
  margin-left: -5%;
  width: 15px;
  padding-top: -50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot1 {
  margin-left:0%;
}
.dot2 {
  margin-left:5%;
}

.active, .dot:hover, .dot11:hover, .dot12:hover, .dot13:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 880px) {
    .program_row{
    display:flax;
    flex-flow: column;
  }
    .d{
        width: 100%;
    }
    .slider1{
        order: 0;
    }
    .day1{
        order: 1;
    }
     .slider2{
        order: 2;
    }
    .day2{
        order: 3;
    }
     .slider3{
        order: 4;
    }
    .day3{
        order: 5;
    }
     .slider4{
        order: 6;
    }
    .day4{
        order: 7;
    }
}