.footer{
    background-color: white;
    z-index: 2;
    padding: 40px 20px;
    position: relative;
}
.footer__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo__container, .footer__info, .footer__social-network, .copyrighted{
    margin: 10px 0;
}
.footer__info a{
    display: block;

}
.footer__info a:hover{
    color:rgb(230, 95, 71);
    transition: 0.2s all;
}
.footer__social-network{
    display: flex;
    justify-content: flex-start;
}
.footer__social-network div{
    padding: 0 5px;
}

.copyrighted span{
    display: block;
    font-size: 0.8rem;
    opacity: 0.7;
}
.section-2__info{
    display: flex;
    justify-content: flex-end;
    
}
.section-2__header, .section-2__list{
    margin: 10px 0;
}

.footer__section_2 a:hover{
    color:rgb(230, 95, 71);
    transition: 0.2s all;
}
.section-2__list{
    padding: 0;
}
.section-2__list li{
    list-style: none;
    padding: 4px 2px;
    
}
.section-2__menu, .section-2__call, .section-2__mail, .section-2__addr{
    padding: 10px 30px;
}
@media(max-width:1250px){

    .section-2__info{
        display: block;
        text-align: end;
    }
    .section-2__menu, .section-2__call, .section-2__mail, .section-2__addr{
        padding: 8px 25px;
        display: inline-block;
        width: 35%;
        vertical-align:top;
        
    }
}
@media(max-width:767px){
    .footer__main, .section-2__info{
        display: block;
        text-align: start;
    }
    .section-2__menu, .section-2__call, .section-2__mail, .section-2__addr{
        display: block;
        padding: 10px 0;
    
    }
}
