.second-sector{
    padding-top: 38px;
}


.page-nav {
    height: 50px;
}

.page-nav_container.in-tour {
    display: flex;
    padding: 0 30px 0 0;
    height: 55px;
}
.page-nav_container {
    background-color: #fafafa;
    padding: 11px 0;
    box-shadow: 0 3px 14px rgba(0,0,0,.08);
}
.nav-list {
    padding: 0 30px 0 0;
    margin-left: 30px;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    font-size: 0;
    scrollbar-color: #ed4457 #c2c2c2;
    scrollbar-width: thin;
}

.page-nav_container.in-tour .nav-list {
    width: calc(100% - 350px);
    align-self: center;
}
.nav-list-item {
    display: inline-block;


}
.nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #131313;
    line-height: 1;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.bg-block {
    width: 350px;
    display: flex;
    align-items: center;
}
